body { font-family: Arial; margin: 20px; }
table { border-collapse: collapse; width: 60%; }
table, th, td { border: 1px solid black; padding: 5px; text-align: center; }
button { padding: 5px 10px; margin: 2px; }
input, select, textarea { padding: 5px; }
th { background-color: #d9d9d9; }

/* Mobielvriendelijk */
@media screen and (max-width: 600px) {
  table { width: 100%; }
  input, select, textarea, button { width: 100%; box-sizing: border-box; }
}
